.frame {
  position: relative;
  width: 1440px;
  height: 832px;
  background-color: #ffffff;
  overflow: hidden;
}

.frame .service {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: flex-start;
  gap: 48px;
  padding: 96px 160px 48px;
  position: relative;
}

.frame .about-troy-wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .about-troy {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Pretendard-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: -1.8px;
  line-height: 46.4px;
}

.frame .div {
  position: relative;
  width: 1120px;
  height: 620px;
}

.frame .div-2 {
  display: flex;
  width: 1120px;
  align-items: center;
  gap: 48px;
  padding: 0px 48px;
  position: absolute;
  top: 0;
  left: 0;
}

.frame .div-3 {
  display: flex;
  flex-direction: column;
  width: 540px;
  align-items: flex-start;
  gap: 24px;
  padding: 96px 0px 0px;
  position: relative;
  align-self: stretch;
}

.frame .div-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #2aa06a;
  font-size: 24px;
  letter-spacing: -1.2px;
  line-height: 32.4px;
}

.frame .p {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #2aa06a;
  font-size: 42px;
  letter-spacing: -2.1px;
  line-height: 55.9px;
}

.frame .div-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: -0.36px;
  line-height: 23.9px;
}

.frame .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: -0.36px;
  line-height: 23.9px;
}

.frame .phone {
  display: flex;
  height: 546px;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .div-6 {
  position: relative;
  width: 420px;
  height: 546px;
}

.frame .element {
  position: absolute;
  top: 89px;
  left: 69px;
  width: 281px;
  height: 457px;
}

.frame .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  position: absolute;
  top: 64px;
  left: calc(50% - 111px);
  background-color: #2aa06a;
  border-radius: 120px;
  box-shadow: 0px 4px 4px #00000040;
}

.frame .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -1.2px;
  line-height: 31.9px;
  white-space: nowrap;
}

.frame .title {
  display: flex;
  width: 370px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10.92px 14.56px;
  position: absolute;
  top: 178px;
  left: 21px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 6px solid;
  border-color: #2053e2;
  box-shadow: 0px 12px 0px #00000026;
}

.frame .left {
  display: inline-flex;
  align-items: center;
  gap: 5.46px;
  position: relative;
  flex: 0 0 auto;
}

.frame .rectangle-wrapper {
  position: relative;
  width: 52.79px;
  height: 25.49px;
  background-color: #3469ff;
  border-radius: 109.22px;
}

.frame .rectangle {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 109.22px;
  box-shadow: -1.82px 1.82px 1.82px #0000001a;
}

.frame .text {
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #0b0d0f;
  font-size: 12.7px;
  letter-spacing: -0.38px;
  line-height: 21.8px;
  white-space: nowrap;
}

.frame .left-2 {
  display: inline-flex;
  align-items: center;
  gap: 14.56px;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-7 {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -0.91px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #717171;
  font-size: 12.7px;
  letter-spacing: -0.38px;
  line-height: 21.8px;
  white-space: nowrap;
}

.frame .vector-wrapper {
  position: relative;
  width: 18.2px;
  height: 18.2px;
  border-radius: 109.22px;
  transform: rotate(-90deg);
}

.frame .vector {
  position: absolute;
  height: 20%;
  top: 40.26%;
  left: calc(50% - 3px);
  width: 7px;
  transform: rotate(90deg);
}

.frame .img {
  position: relative;
  width: 18.2px;
  height: 18.2px;
}

.frame .element-2 {
  display: flex;
  width: 369px;
  align-items: flex-start;
  gap: 15.82px;
  padding: 11.87px 7.91px;
  position: absolute;
  top: 286px;
  left: 21px;
  background-color: #ffffff;
  border-radius: 7.91px;
  border: 6px solid;
  border-color: #2053e2;
  box-shadow: 0px 12px 0px #00000026;
}

.frame .avatar-txt {
  position: relative;
  width: 158.23px;
  height: 122.63px;
  border-radius: 3.96px;
  background-image: url(./img/unsplash-dnstppqcbbw.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .div-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.91px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .div-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.96px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-3 {
  position: relative;
  align-self: stretch;
  margin-top: -0.99px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-GP-900);
  font-size: 11.9px;
  letter-spacing: -0.36px;
  line-height: 19.8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.frame .text-4 {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-ExtraBold", Helvetica;
  font-weight: 800;
  color: var(--variable-collection-GP-900);
  font-size: 17.8px;
  letter-spacing: -0.53px;
  line-height: 19.8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.frame .div-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-5 {
  position: relative;
  align-self: stretch;
  margin-top: -0.99px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #3e7c3d;
  font-size: 11.9px;
  letter-spacing: -0.36px;
  line-height: 19.8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.frame .text-6 {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-GP-900);
  font-size: 11.9px;
  letter-spacing: -0.36px;
  line-height: 19.8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.frame .element-3 {
  display: flex;
  align-items: center;
  gap: 3.96px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .star {
  position: relative;
  width: 12.89px;
  height: 12.36px;
}

.frame .text-7 {
  position: relative;
  width: fit-content;
  margin-top: -0.99px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #00000066;
  font-size: 11.9px;
  text-align: right;
  letter-spacing: -0.36px;
  line-height: 17.8px;
  white-space: nowrap;
}

.frame .img-2 {
  position: relative;
  flex: 0 0 auto;
  margin-right: -40px;
}

.frame .div-wrapper-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  position: absolute;
  top: 426px;
  left: 767px;
  background-color: #2053e2;
  border-radius: 120px;
  box-shadow: 0px 4px 4px #00000040;
}

.frame .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ffea3e;
  font-size: 24px;
  letter-spacing: -1.2px;
  line-height: 31.9px;
  white-space: nowrap;
}
