.screen {
  display: flex;
  width: 960px;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 24px 24px 48px 48px;
  position: relative;
  background-color: #f2f2f2;
  border-radius: 16px;
  border: 1px solid;
  border-color: #00000033;
}

.screen .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 24px 0px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.screen .div {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 136px;
  overflow: hidden;
}

.screen .element {
  position: absolute;
  top: 3px;
  left: calc(50% - 87px);
  width: 174px;
  height: 133px;
}

.screen .avatar-txt {
  position: absolute;
  top: 68px;
  left: calc(50% - 149px);
  width: 68px;
  height: 114px;
  background-color: #fde466;
  border-radius: 3.5px;
  overflow: hidden;
  border: 0.44px solid;
  border-color: #eaeaea;
  box-shadow: 4px 4px 8px #00000026;
}

.screen .unsplash-PDX-a {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
  object-fit: cover;
}

.screen .left {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 4px;
  left: 3px;
  background-color: #00000033;
  border-radius: 2.62px;
}

.screen .bitcoin-icons-wrapper {
  position: relative;
  width: 7.87px;
  height: 7.87px;
  background-color: #009de8;
  border-radius: 1.75px;
}

.screen .bitcoin-icons {
  position: relative;
  top: 1px;
  left: 1px;
  width: 7px;
  height: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
  aspect-ratio: 1;
}

.screen .vector {
  height: 3.98px;
  width: 3.23px;
  margin-top: -0.1px;
  margin-left: 0.3px;
  transform: rotate(45deg);
}

.screen .text-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4.37px;
  padding: 0.87px 2.62px 0.87px 0.87px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 0px 2.62px 2.62px 0px;
}

.screen .text {
  position: relative;
  width: fit-content;
  margin-top: -0.44px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 5.2px;
  letter-spacing: -0.16px;
  line-height: 6.3px;
  white-space: nowrap;
}

.screen .avatar-txt-2 {
  position: absolute;
  top: 8px;
  left: 487px;
  width: 68px;
  height: 113px;
  background-color: #fde466;
  border-radius: 3.78px;
  overflow: hidden;
  border: 0.47px solid;
  border-color: #eaeaea;
  box-shadow: 4px 4px 8px #00000040;
}

.screen .unsplash {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 113px;
  object-fit: cover;
}

.screen .left-2 {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #00000033;
  border-radius: 2.83px;
}

.screen .div-wrapper {
  position: relative;
  width: 8.5px;
  height: 8.5px;
  background-color: #009de8;
  border-radius: 1.89px;
}

.screen .vector-wrapper {
  position: relative;
  top: 1px;
  left: 1px;
  width: 8px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
  aspect-ratio: 1;
}

.screen .img {
  height: 4.3px;
  width: 3.48px;
  margin-top: -0.1px;
  margin-left: 0.3px;
  transform: rotate(45deg);
}

.screen .frame-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4.72px;
  padding: 0.94px 2.83px 0.94px 0.94px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 0px 2.83px 2.83px 0px;
}

.screen .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -0.47px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 5.7px;
  letter-spacing: -0.17px;
  line-height: 6.8px;
  white-space: nowrap;
}

.screen .frame-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.screen .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Gmarket Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 28px;
  letter-spacing: -1.4px;
  line-height: 36.1px;
}

.screen .p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  height: 52px;
  font-family: "Gmarket Sans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 25.8px;
}

.screen .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: -0.36px;
  line-height: 23.9px;
}

.screen .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: 23.9px;
}

.screen .group-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #000000;
  border-radius: 12px;
}

.screen .group {
  position: relative;
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
}

.screen .vector-2 {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10px;
  height: 10px;
}
