.screen {
  display: flex;
  width: 960px;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 24px 24px 48px 48px;
  position: relative;
  background-color: #dce0ef;
  border-radius: 16px;
  border: 1px solid;
  border-color: #00000033;
}

.screen .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 24px 0px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.screen .img {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 136px;
}

.screen .frame-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.screen .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.screen .text-wrapper {
  margin-top: -1px;
  font-family: "Gmarket Sans-Bold", Helvetica;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -1.4px;
  line-height: 36.1px;
  position: relative;
  align-self: stretch;
  color: #000000;
}

.screen .text-wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  font-family: "Gmarket Sans-Medium", Helvetica;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 25.8px;
  position: relative;
  align-self: stretch;
  color: #000000;
}

.screen .p {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: -0.36px;
  line-height: 23.9px;
}

.screen .group-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #000000;
  border-radius: 12px;
}

.screen .group {
  position: relative;
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
}

.screen .vector {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10px;
  height: 10px;
}
